
.container {
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #333;
        line-height: 1.5;
    }
    /* Header */
.header {
    background-color: #007bff;
    font-size: 30px;
    color: #333;
    line-height: 1.5;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
        }
.form {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}     
.form input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.form input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form input[type=submit]:hover {
    background-color: #45a049;
}

.table table {
    border-collapse: collapse;
    width: 50%;
    height: 200px;    
    border: 1px solid black;
}

        /* Style for headings */
.table h2 {
    color:#007bff;
    margin: 10px 0;
        }
.table th  {
    font-weight: 50px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;

}
.table td  {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;

}
       
.footer {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 10vh;
   margin-top: 10%;
}
.content {
    text-align: center;
}



		